* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clr {
    clear: both;
}


/* ==========
 Common Ends
=========== */

/*  ===============
    Preloader Start
================= */


.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #777;
    z-index: 9999999;
}

.preloader ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.preloader ul li {
    width: 3px;
    height: 30px;
    background: #fff;
    margin-right: 5px;
    animation: pre 1s infinite;
    -webkit-animation: pre 1s infinite;
}

.preloader ul li:nth-child(1) {
    animation-delay: .1s;
}

.preloader ul li:nth-child(2) {
    animation-delay: .2s;
}

.preloader ul li:nth-child(3) {
    animation-delay: .3s;
}

.preloader ul li:nth-child(4) {
    animation-delay: .4s;
}

.preloader ul li:nth-child(5) {
    animation-delay: .5s;
}

@keyframes pre {
    0% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    25% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    50% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    75% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    100% {
        transform: scaleY(2);
        -webkit-transform: scaleY(2);
        -moz-transform: scaleY(2);
        -ms-transform: scaleY(2);
        -o-transform: scaleY(2);
    }
}



/*  ===============
    Preloader Ends
================= */



/* ============
     Menu Start
 ============ */

.header-area {
    width: 100%;
    height: 840px;
}

.header-area .menu-bg {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 99999;
    border-bottom: 1px solid #545454;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.header-area .menu-bg .menu-bar {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    transition: all linear .4s;
}

.header-area .menu-bg .menu-bar .logo {
    width: 270px;
    height: 100px;
    margin-right: 140px;
    float: left;
    transition: all linear .4s;
}

.header-area .menu-bg .menu-bar .logo a {
    display: block;
    margin: 28px 0;
    transition: all linear .4s;
}

.header-area .menu-bg .menu-bar .logo a img {
    width: 270px;
    height: 44px;
}

.header-area .menu-bg .menu-bar .menu-list {
    float: left;
    width: 620px;
    height: 100px;
    transition: all linear .4s;
}




.header-area .menu-bg .menu-bar .menu-list ul li {
    float: left;
    position: relative;
}

.header-area .menu-bg .menu-bar .menu-list li a {
    line-height: 100px;
    padding: 0 23px;
    display: block;
    color: white;
    font-size: 14px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.header-area .menu-bg .menu-bar .menu-list li ul {
    position: absolute;
    background: #fff;
    top: 90px;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    z-index: 22;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.header-area .menu-bg .menu-bar .menu-list li ul li {
    float: none;
    white-space: nowrap;
    text-transform: capitalize;
}

.header-area .menu-bg .menu-bar .menu-list li ul li a {
    color: #2a2b2c;
    line-height: 33px !important;
    padding: 0 120px 0 25px;
}

.header-area .menu-bg .menu-bar .book-now {
    width: 170px;
    height: 100px;
    float: left;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.header-area .menu-bg .menu-bar .book-now a {
    line-height: 100px;
    padding: 17px 36px;
    border: 2px solid #d02529;
    border-radius: 30px;
    background: #d02529;
    color: white;
    font-size: 14px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.bg {
    height: 80px !important;
    background: rgba(0, 0, 0, 0.7);
    position: fixed !important;
}

.bg .menu-bar {
    height: 80px !important;
}

.bg .menu-bar .logo {
    height: 80px !important;
}

.bg .menu-bar .logo a {
    margin: 16.5px 0 !important;
}

.bg .menu-bar .menu-list {
    height: 80px !important;
}

.bg .menu-bar .menu-list li a {
    line-height: 80px !important;
}

.bg .menu-bar .menu-list ul li:hover ul {
    top: 80px !important;
}

.bg .menu-bar .book-now {
    height: 80px !important;
}

.bg .menu-bar .book-now a {
    line-height: 80px !important;
}

.hide {
    transform: translateY(-100vh);
    transition: all linear 1s 2s;
    -webkit-transition: all linear 1s 2s;
    -moz-transition: all linear 1s 2s;
    -ms-transition: all linear 1s 2s;
    -o-transition: all linear 1s 2s;
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
}

/* ==========
    Menu Ends
=========== */



/* ===============
    Banner Starts
=============== */



.header-area .banner-bg {
    width: 100%;
    height: 840px;
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.header-area .banner-bg .banner-overlay {
    width: 100%;
    height: 840px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.header-area .banner-bg .banner-overlay .banner-area {
    width: 1200px;
    height: 840px;
    margin: 0 auto;
    padding: 320px 0 220px 0;
    text-align: center;
    color: white;
}

.header-area .banner-bg .banner-overlay .banner-area h2 {
    font-size: 35px;
    padding-bottom: 30px;
}


.header-area .banner-bg .banner-overlay .banner-area h1 {
    font-size: 90px;
    padding-bottom: 40px;
    font-family: cursive;
    color: #d02529;
}

.header-area .banner-bg .banner-overlay .banner-area p {
    font-size: 30px;
}


/* ============
    Banner Ends
============ */



/*===================
Discover Area Start
================== */


.discover-bg {
    width: 100%;
    height: 550px;
}

.discover-bg .discover-content {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    padding: 100px 0;
}

.discover-bg .discover-content .discover-content-top {
    width: 100%;
    height: 150px;
    text-align: center;
}

.discover-bg .discover-content .discover-content-top h2 {
    font-size: 36px;
    font-family: cursive;
    color: #d02529;
}

.discover-bg .discover-content .discover-content-top p {
    text-transform: uppercase;
    font-size: 21px;
    margin: 30px 0px 40px 0;
    font-weight: bold;
    color: #2a2b2c;
}

.discover-bg .discover-content .discover-content-bottom {
    width: 100%;
    height: 200px;
}

.discover-content-bottom .discover-box-one,
.discover-content-bottom .discover-box-two,
.discover-content-bottom .discover-box-three {
    width: 380px;
    height: 100%;
    margin-right: 20px;
    padding: 0 30px;
    text-align: center;
    float: left;
}

.discover-content-bottom .discover-box-one img,
.discover-content-bottom .discover-box-two img,
.discover-content-bottom .discover-box-three img {
    margin-bottom: 20px;
}

.discover-content-bottom .discover-box-one h3,
.discover-content-bottom .discover-box-two h3,
.discover-content-bottom .discover-box-three h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.discover-content-bottom .discover-box-one p,
.discover-content-bottom .discover-box-two p,
.discover-content-bottom .discover-box-three p {
    font-size: 12px;
    color: #929292;
    line-height: 20px;
}


/*==================
  Discover Area Ends
 ================= */



/* ==============
  Our Story Start
 ============== */


.our-story-bg {
    width: 100%;
    height: 600px;
    background: #f7f7f7;
}

.our-story-bg .our-story-images {
    width: 40%;
    height: 600px;
    float: left;
    background-image: url(../images/our-story.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.our-story-bg .our-story-images img {
    width: 540px;
    height: 600px;
}


.our-story-bg .our-story-heading-bg {
    width: 60%;
    height: 600px;
    float: left;
    text-align: center;
}

.our-story-heading-bg .our-story-heading-content {
    width: 680px;
    height: 100%;
    padding: 135px 40px;
}

.our-story-heading-content .our-story-heading-top {
    height: 170px;
    width: 100%;
}

.our-story-heading-content .our-story-heading-top h2 {
    font-size: 36px;
    font-family: cursive;
    color: #d02529;
}

.our-story-heading-content .our-story-heading-top p {
    text-transform: uppercase;
    font-size: 21px;
    margin: 30px 0px 65px 0;
    font-weight: bold;
    color: #2a2b2c;
}

.our-story-heading-content .our-story-heading-bottom {
    width: 100%;
    height: 160px;
}

.our-story-heading-content .our-story-heading-bottom p {
    color: #2a2b2c;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
}

.our-story-heading-content .our-story-heading-bottom a {
    padding: 15px 37px;
    border: 2px solid #d02529;
    border-radius: 30px;
    background: #d02529;
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 29px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}



/* =============
  Our Story Ends
 ============ */



/* ============
  Our Menu Start
  =========== */

.our-menu-bg {
    width: 100%;
    height: 935px;
}

.our-menu-bg .our-menu-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 130px 0;
}

.our-menu-bg .our-menu-content .our-menu-heading {
    text-align: center;
    width: 100%;
    height: 150px;
}

.our-menu-bg .our-menu-content .our-menu-heading h2 {
    font-size: 36px;
    font-family: cursive;
    color: #d02529;
}

.our-menu-bg .our-menu-content .our-menu-heading p {
    text-transform: uppercase;
    font-size: 21px;
    margin: 30px 0px 45px 0;
    font-weight: bold;
    color: #2a2b2c;
}


.our-menu-bg .our-menu-content .our-menu-box {
    width: 100%;
    height: 525px;
}

.our-menu-box .our-menu-part-one,
.our-menu-part-two,
.our-menu-part-three {
    width: 100%;
    height: 180px;
}

.our-menu-box .box-one,
.our-menu-box .box-two {
    width: 585px;
    height: 150px;
    padding: 30px 35px;
    border: 1px solid #e2e2e2;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.box-one .box-one-heading,
.box-two .box-one-heading {
    width: 100%;
    height: 50px;
    line-height: 35px;
}

.box-one .box-one-heading .box-one-heading-left,
.box-two .box-one-heading .box-one-heading-left {
    width: 405px;
    float: left;
    height: 50px;
}

.box-one-heading .box-one-heading-left h3 {
    margin-bottom: 27px;
}

.box-one-heading .box-one-heading-left h3 a {
    color: #2a2b2c;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.box-one-heading .box-one-heading-right {
    width: 108px;
    height: 50px;
    float: left;
}

.box-one-heading .box-one-heading-right p {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    color: #d02529;
}


.box-one .box-one-paragraph,
.box-two .box-one-paragraph {
    width: 100%;
    height: 40px;
}

.box-one .box-one-paragraph p,
.box-two .box-one-paragraph p {
    font-size: 13px;
    color: #2a2b2c;
}

.box-two {
    margin-right: 0 !important;
}

.our-menu-part-three {
    height: 165px;
}

/* ===========
  Our Menu Ends
  ========== */



/* =====================
 Quick Reservation Start
=====================*/


.quick-reservation-bg {
    width: 100%;
    height: 620px;
    background-image: url(../images/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quick-reservation-bg .quick-reservation-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.quick-reservation-bg .quick-reservation-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.quick-reservation-content .quick-reservation-heading {
    text-align: center;
    width: 100%;
    height: 150px;

}

.quick-reservation-content .quick-reservation-heading h2 {
    font-size: 36px;
    font-family: cursive;
    color: #d02529;

}

.quick-reservation-content .quick-reservation-heading p {
    text-transform: uppercase;
    font-size: 21px;
    margin: 30px 0px 45px 0;
    font-weight: bold;
    color: white;
}

.quick-reservation-content .quick-reservation-form {
    width: 100%;
    height: 270px;
}


.quick-reservation-form .form-top {
    width: 100%;
    height: 80px;
}

.quick-reservation-form .form-top .form-top-one,
.quick-reservation-form .form-top .form-top-two,
.quick-reservation-form .form-top .form-top-three {
    width: 380px;
    height: 100%;
    float: left;
    margin-right: 30px;
}

.quick-reservation-form .form-top .form-top-one input,
.quick-reservation-form .form-top .form-top-two input,
.quick-reservation-form .form-top .form-top-three input {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 17px;
    margin-bottom: 30px;
}


.quick-reservation-form .form-top .form-top-three {
    margin-right: 0;
}


.quick-reservation-form .form-button {
    text-align: center;
    height: 110px;
    padding-top: 58px;
}


.quick-reservation-form .form-button button {
    padding: 15px 37px;
    border: 2px solid #d02529;
    border-radius: 30px;
    background: #d02529;
    color: white;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}



/* ====================
 Quick Reservation Ends
 ==================== */




/* =============
 Our Team Start
 =========== */

.our-team-bg {
    width: 100%;
    height: 810px;
}

.our-team-bg .our-team-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.our-team-bg .our-team-content .our-team-content-top {
    text-align: center;
    height: 180px;
    width: 100%;
}

.our-team-bg .our-team-content .our-team-content-top h2 {
    font-size: 36px;
    font-family: cursive;
    color: #d02529;
}

.our-team-bg .our-team-content .our-team-content-top p {
    text-transform: uppercase;
    font-size: 21px;
    margin: 30px 0px 75px 0;
    font-weight: bold;
    color: #2a2b2c;
}


.our-team-bg .our-team-content .our-team-content-bottom {
    height: 430px;
    width: 100%;
}

.our-team-content-bottom .team-box-one {
    height: 430px;
    width: 277px;
    text-align: center;
    float: left;
    margin-right: 30px;
}

.our-team-content-bottom .team-box-one .team-box-one-top,
.our-team-content-bottom .team-box-one .team-box-one-top a img {
    width: 277px;
    height: 370px;
}

.our-team-content-bottom .team-box-one .team-box-one-top a {
    display: block;
}


.our-team-content-bottom .team-box-one .team-box-one-bottom h4 {
    padding: 10px 0;
}

.our-team-content-bottom .team-box-one .team-box-one-bottom {
    width: 100%;
    height: 60px;
}

.our-team-content-bottom .team-box-one .team-box-one-bottom h4 a {
    font-size: 15px;
    color: #d02529;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.our-team-content-bottom .team-box-one .team-box-one-bottom p {
    font-size: 13px;
    color: #2a2b2c;
    margin-bottom: 5px;
}


.our-team-content-bottom .team-box-four {
    margin-right: 2px;
}


/* =============
   Our Team Ends
 ============ */


/* =============
  Our Blog Start
 ============ */

.our-blog-bg {
    width: 100%;
    height: 860px;
    background: #f7f7f7;
}

.our-blog-bg .our-blog-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.our-blog-bg .our-blog-content .our-blog-content-top {
    text-align: center;
    width: 100%;
    height: 180px;
}

.our-blog-bg .our-blog-content .our-blog-content-top h2 {
    font-size: 36px;
    font-family: cursive;
    color: #d02529;
}

.our-blog-bg .our-blog-content .our-blog-content-top p {
    text-transform: uppercase;
    font-size: 21px;
    margin: 30px 0px 75px 0;
    font-weight: bold;
    color: #2a2b2c;
}


.our-blog-bg .our-blog-content .our-blog-content-bottom {
    width: 100%;
    height: 480px;
}

.our-blog-content-bottom .our-blog-box-part-one {
    height: 230px;
    width: 100%;
}

.our-blog-box-part-one .blog-part-one-box-one {
    width: 580px;
    height: 200px;
    margin-bottom: 30px;
    margin-right: 30px;
    float: left;
    background: #ffffff;
}

.blog-part-one-box-one .blog-part-one-box-one-img {
    width: 206px;
    height: 100%;
    float: left;
}

.blog-part-one-box-one .blog-part-one-box-one-img img {
    width: 206px;
    height: 200px;
}

.blog-part-one-box-one .blog-part-one-box-one-content {
    width: 374px;
    height: 100%;
    padding: 30px;
    float: left;
}

.blog-part-one-box-one .blog-part-one-box-one-content h3 {
    color: #d43a3d;
    font-size: 15px;
    margin-bottom: 10px;
}

.blog-part-one-box-one .blog-part-one-box-one-content a {
    color: #2a2b2c;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.blog-part-one-box-one .blog-part-one-box-one-content p {
    color: #999999;
    font-size: 12px;
    margin-bottom: 7px;
    line-height: 20px;
}


.our-blog-box-part-one .blog-part-one-box-two {
    margin-right: 0;
}


.our-blog-content-bottom .our-blog-box-part-two {
    margin-bottom: 20px;
}

/* =============
  Our Blog Ends
 ============ */


/* ================
  Testimonial Start
================ */

.testimonial-bg {
    width: 100%;
    height: 530px;
}

.testimonial-bg .testimonial-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 185px 0 95px 0;
    background-image: url(../images/testimoniyal-1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 60px bottom;
}

.testimonial-bg .testimonial-content .testimonial-box {
    width: 650px;
    height: 250px;
    margin-left: 430px;
    margin-right: auto;
    background: #d02529;
    text-align: center;
    padding: 50px;
    color: #fff;
}

.testimonial-bg .testimonial-content .testimonial-box p {
    font-size: 14px;
    line-height: 20px;
}

.testimonial-bg .testimonial-content .testimonial-box h3 {
    width: 100%;
    height: 90px;
    line-height: 90px;
}




/* ================
  Testimonial Ends
================ */



/* ==========
 Footer Start
 ========== */

.footer-bg {
    width: 100%;
    height: 591px;
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bg .footer-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.753);
}

.footer-bg .footer-overlay .footer-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 0 0;
}


.footer-bg .footer-content .footer-content-top {
    width: 100%;
    height: 150px;
    padding: 40px 60px;
    border: 1px solid #292d31;
}

.footer-content-top .footer-content-top-left {
    width: 490px;
    height: 100%;
    float: left;
    line-height: 68px;
    margin-right: auto;
}

.footer-content-top .footer-content-top-left h3 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.footer-content-top .footer-content-top-right {
    width: 400px;
    height: 100%;
    float: right;
}

.footer-content-top .footer-content-top-right input {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: transparent;
    color: white;
    border: none;
    font-size: 17px;
    margin: 9px 0;
    border-bottom: 1px solid #292d31;
}

.footer-bg .footer-content .footer-content-center {
    height: 315px;
    width: 100%;
    padding: 50px 0;
}

.footer-content-center .footer-content-center-left {
    width: 340px;
    height: 100%;
    float: left;
    margin-right: 175px;
    padding-right: 20px;
}

.footer-content-center .footer-content-center-left a {
    height: 60px;
    width: 100%;
    display: block;
}

.footer-content-center .footer-content-center-left a img {
    width: 270px;
    height: 44px;
    margin-right: 50px;
    margin-bottom: 16px;
}

.footer-content-center .footer-content-center-left p {
    color: #888888;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 75px;
}

.footer-content-center .footer-content-center-right {
    width: 685px;
    height: 215px;
    float: left;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 50px;
}

.footer-content-center-right .footer-menu-box-one {
    width: 195px;
    height: 100%;
    float: left;
    text-transform: capitalize;
}

.footer-content-center-right .footer-menu-box-one h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-content-center-right .footer-menu-box-one ul {
    height: 121px;
}

.footer-content-center-right .footer-menu-box-one ul li {
    padding: 5px 0;
}

.footer-content-center-right .footer-menu-box-one ul li a {
    color: #888;
    font-size: 15px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.footer-menu-box-one.footer-menu-box-two,
.footer-menu-box-one.footer-menu-box-three {
    padding-left: 35px;
}

.footer-bg .footer-content .footer-content-bottom {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75px;
    border-top: 1px solid #292d31;
}

.footer-bg .footer-content .footer-content-bottom p {
    font-size: 15px;
    color: #888888;
}

.footer-bg .footer-content .footer-content-bottom p a {
    text-decoration: underline;
    color: #d02529;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}






/* ==========
 Footer Ends
 ========== */




/* ===============
 Scrool Top Starts
 =============== */

.scrollTop {
    width: 40px;
    height: 40px;
    position: fixed;
    background: crimson;
    bottom: 30px;
    right: 30px;
    display: none;
    border-radius: 50%;
    animation: tob 1s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: tob 1s;
}

@keyframes tob {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 30px
    }
}

.scrollTop i {
    font-size: 25px;
    line-height: 40px;
    cursor: pointer;
    display: block;
    text-align: center;
    color: #fff;
}


/* =============
 Scrool Top Ends
 ============== */





/* ============
  Effect Start
 =========== */


.header-area .menu-bg .menu-bar .menu-list ul li:hover>a {
    color: #be2324;
}

.header-area .menu-bg .menu-bar .menu-list ul li:hover ul {
    top: 100px;
    visibility: visible;
    opacity: 1;
}


.header-area .menu-bg .menu-bar .book-now a:hover {
    background: transparent;
    color: #be2324;
}



.our-story-heading-bottom a:hover {
    background: transparent;
    color: #be2324;
}

.box-one-heading .box-one-heading-left h3 a:hover {
    color: #d02529;
}

.quick-reservation-form .form-button button:hover {
    background: transparent;
    color: #be2324;
}

.team-box-one .team-box-one-bottom h4 a:hover {
    color: #2a2b2c;
}

.blog-part-one-box-one .blog-part-one-box-one-content a:hover {
    color: #d02529;
}

.footer-content-center-right .footer-menu-box-one ul li a:hover {
    color: #d02529;
}


.footer-bg .footer-content .footer-content-bottom p a:hover {
    color: #fff;
}

.bg .menu-bar .menu-list ul li:hover ul {
    top: 80px;
}